

/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
    position: relative;
    margin: 0 auto 40px;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    background: transparent;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: image-url('bx_loader.gif') center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
  background-repeat:no-repeat;
  background-position:0 0;
}

.bx-wrapper .bx-next {
    right: 10px;
  background-repeat:no-repeat;
  background-position:-41px 0;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 -37px;
}

.bx-wrapper .bx-next:hover {
    background-position: -41px -37px;
}

.cv-slider-style-2 .bx-wrapper .bx-prev,
.cv-slider-style-3 .bx-wrapper .bx-prev {
    left: auto;
    right: 30px;
    background: #BDBDBD;
}
.item-prev, .item-next, .item-showlist, .blog-navigation a{
    color: #fff;
    background: #BDBDBD;
}
.cv-slider-style-2 .bx-wrapper .bx-next,
.cv-slider-style-3 .bx-wrapper .bx-next {
    right: 0px;
    background: #BDBDBD;
}

.cv-slider-style-2 .bx-wrapper .bx-prev:hover,
.cv-slider-style-2 .bx-wrapper .bx-next:hover,
.cv-slider-style-3 .bx-wrapper .bx-prev:hover,
.cv-slider-style-3 .bx-wrapper .bx-next:hover,
.item-navigation a:hover,
.blog-navigation a:hover{
    color: #fff;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 36px;
    height: 37px;
    text-indent: -9999px;
    z-index: 9999;
}

.cv-slider-style-2 .bx-wrapper .bx-controls-direction a,
.cv-slider-style-3 .bx-wrapper .bx-controls-direction a,
.item-navigation a,
.blog-navigation a {
    width: 26px;
    height: 26px;
    top: 100%;
    margin-top: 0px;
    text-indent: 0;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
}
.cv-slider-style-3 .bx-wrapper .bx-controls-direction a { top: 104%; }
.item-navigation a, .blog-navigation a {
    display: inline-block;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}


/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}

/* Portfolio */
.portfolio-links {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
}
.portfolio-links li {
    line-height: 37px;
    float: left;
    margin-right: 9px;
}
.portfolio-links li a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    background: #C1C1C1;
    padding: 0 18px;
    -webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -ms-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    transition: background 300ms ease;
}
.portfolio-links li a:hover {
    -webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -ms-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    transition: background 300ms ease;
}
#portfolio-app {
    position: relative;
}
.image-grid {
    margin: 0 0 0 -1%;
    padding: 0;
}
.image-grid > li {
    display: block;
    margin: 1%;
    width: 31%;
    height: 226px;
    float: left;
    overflow: visible;
    border: 1px solid #EAEAEA;
    background: #fff;
}
.image-grid > li > a {
    display: block;
    position: relative;
    
}
.image-grid > li > a:after {
    border-bottom: 2px solid #eee;
    width: 98%;
    content: ' ';
    position: absolute;
    bottom: -4px;
    margin: 0 1%;
}
.image-grid > li > a:hover{
    
}
.image-grid > li > a > span {
    background: rgba(249,76,0,0);

    margin: 3%;
    display: block;
    position: absolute;
    width: 94%;
    height: 156px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.image-grid > li > a:hover > span {   
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.image-grid > li > a:hover > span:before {
    content: '+';
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    line-height: 156px;
    text-align: center;
    width: 100%;
    display: block;

}
.image-grid h4 {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    padding: 1.33em 0;
    margin: 0;
}


/* Experience */
.ui-tabs {
    margin-left: -1px;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
}
.ui-tabs .ui-tabs-panel {
    display: block;
    border: 1px solid #EAEAEA;
    padding: 1em;
    background: 0;
}
.ui-tabs .ui-tabs-nav li{
    margin: 0;
}
.ui-tabs .ui-tabs-nav .ui-state-default {
    background: #BDBDBD;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.ui-tabs .ui-tabs-nav .ui-state-default a {
    color: #fff;
}
.ui-tabs .ui-tabs-nav .ui-state-default a:hover {
    color: #fff;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background: white;
    border: 1px solid #EAEAEA;
    border-bottom-color: white;
    margin-left: 1px;
    margin-right: 1px;
}
.testimonials-slider h2.title {
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: .2em
}
.testimonials-slider article {
    overflow: hidden;
    height: 170px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EAEAEA;
}
.testimonials-slider .avatar {
    float: left;
    margin-right: 25px;
}
.testimonial {
    border: 1px solid #EAEAEA;
    padding: 14px 28px;
    margin-left: 140px;
    height: 82px;
    position: relative;
}
.testimonial h4 {
    font-weight: normal;
    margin: 0 0 1em;
}
.testimonial h4 img{
    display: inline-block;
    margin-left: 5px;
}

.testimonial .back-arrow-1 {
    position: absolute;
    left: -10px;
    top: 15px;
}
.testimonial .back-arrow-2 {
    position: absolute;
    left: -11px;
    top:14px;
}

.back-arrow-1 {
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    z-index: 9999;
}
.back-arrow-2 {
    width: 0;
    height: 0;
    border-bottom: 11px solid transparent;
    border-top: 11px solid transparent;
    border-right: 11px solid #EAEAEA;
    z-index: 9998;
}

#clients a{
    margin-right: 1em;
}

/* Portfolio Item */
.item-navigation{
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 11px;
    text-align: right;
    margin-bottom: 1em;
}
.single-slider{
    margin: 0;
    padding: 0;
}

/* Blog */
.post-title {
    text-transform: none;
}
.post p {
    margin: 0 0 1em;
}
.more{
    color: #fff;
    background: #BDBDBD;
    display: inline-block;
    line-height: 37px;
    padding: 0 1em;
    -webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -ms-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    transition: background 300ms ease;
}
.more:before {
    content: '> '
}
.more:hover {
    -webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -ms-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    transition: background 300ms ease;
    color: #fff;
}
.post-meta{
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    padding: 10px;
    clear: both;
    margin-top: 1em;
}
.post-meta p {
    margin-bottom: 0;
}

.blog-navigation{
    border-top: 1px solid #EAEAEA;
    padding-top: 11px;
    text-align: right;
    margin-top: 1em;
}

/* Single Post */
.post-slider > li {
    border: 1px solid #EAEAEA;
}
.box {
    border: 1px solid #EAEAEA;
    padding: 20px 32px;
}

.author-avatar {
    float: left;
    margin-right: 23px;
}
.author-name {
    margin: 0 0 1em 80px;
    color: #8a8f97;
}

.bio p {
    margin-left: 80px;
}

/* Comments */
.placeholder form label {
    display: none;
}
.button {
    color: #fff;
    border: 0;
    padding: 15px;
    font-size: .9em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    line-height: 1em;
}
input[type="text"],
input[type="email"],
input[type="url"], 
textarea{
    border: 1px solid #EAEAEA;
}
input[type="text"]:hover,
input[type="text"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="url"]:hover,
input[type="url"]:focus,
textarea:hover,
textarea:focus{
  border-style: solid;
  border-width:1px;
}

.comment-form input,
.contact-form input,
.comment-form textarea,
.contact-form textarea{
    font-family: 'Open Sans', sans-serif;
    width: 94%;
    padding: .6em 3%;
    margin-bottom: .77em;
}
.comment-form textarea,
.contact-form textarea{
    min-height: 4.5em;
}

.comment-form .button,
.contact-form .button{
    float: right;
}

/* Contact */
#office-map{
    margin-bottom: 2em;
}
#message-sent{
    clear: both;
    float: left;
}
#message-sent p{
    color: #090;
    font-weight: bold;
    font-size: .9em;
}
.contact-form label.error {
    font-size: .8em;
    margin: -0.5em 0 1em;
    float: left;
    color: #f00;
}

#closemenu {
    display: none;
}

/* all */
::-webkit-input-placeholder { color:#8a8f97; font-size: .8em; }
::-moz-placeholder { color:#8a8f97; font-size: .8em; } /* firefox 19+ */
:-ms-input-placeholder { color:#8a8f97; font-size: .8em; } /* ie */
input:-moz-placeholder { color:#8a8f97; font-size: .8em; }

#openmenu{
    display: none;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
   
@media only screen and (max-width: 1170px) {
    .wrapper{
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        top: auto;
        left: auto;
        margin-left: auto;
        margin-top: auto;
    }
    #main {
        background: #BDBDBD;
        width: 80%;
        height: auto;
        float: left;
    }

    .content {
        height: auto;
    }
    .scroller {
        overflow-y: hidden;
        height: auto;
        padding: 0 0 2em;
    }

    #navigation {
        width: 20%;
    }

    #navigation > nav > div {
        width: 100%;
        height: 100%;
    }
    #navigation > nav > div a {
        width: 100%;
        height: 80px;
    }
    #navigation > nav > div a i{
        font-size: 40px;
        margin-top: 0px;
    }
    #navigation > nav > div > a#open-social-menu i {
        margin-top: 15px;
    }

    .content-container {
        padding: 20px;
    }

    #social-menu.animated {
        width: 400px;
        height: 100px;
        background: transparent;
        top: 29.2em;
    right: 9.6em;
    }
    #social-menu ul li a {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
}


/* ---------------------------------------------------------------------- */
/*  Version 1024px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 1024px) {}


/* ---------------------------------------------------------------------- */
/*  Mobile Version 767px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 767px) {
/* Styles */
.wrapper{
    overflow-x: hidden;
}
#header h1{
    font-size: 1.5em;
    margin-top: 1em;
    text-align: center;
}
#header h2 {
    font-size: 1.2em;
    text-align: center;
}
.contact-box {
    position: relative;
    right: auto;
    top: auto;
    margin-left: 3.614457831325301205%;
    text-align: center;
}
.contact-box > a {
    width: auto;
    height: auto;
    float: none;
}
.contact-box > a:hover {
    width: auto;
}
.icon-container {
    width: 2em;
    height: 2em;
}
.icon-container i {
    font-size: 20px;
    line-height: 2em;
}
.text-container p {
    font-size: .8em;
}
.text-container {
    width: auto;
    padding-right: 1em;
}

#navigation {
    width: 0;
    position: absolute; 
    left: 0;
    top: 0;
    z-index: 0;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
#navigation.open{
    width: 17em;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
#social-menu.animated {
    width: 17em;
    height: 4em;
    top: 495px;
    left: 0;
}
#social-menu ul li a {
    width: 1.3555em;
    height: 1.35555em;
    line-height: 1.35555em;
}

#main {
    background: #BDBDBD;
    width: 100%;
    height: auto;
    float: none;
}
#openmenu {
    position: absolute;
    top: 0;
    right: 0;
    background: #999;
    font-size: 2em;
    display: block;
    color: #fff;
}
.menu-opened{
    margin-left: 17em;
    -webkit-box-shadow: -5px 0 5px rgba(0,0,0,.5);
    -moz-box-shadow: -5px 0 5px rgba(0,0,0,.5);
    box-shadow: -5px 0 5px rgba(0,0,0,.5);
    overflow: hidden;
}

#closemenu{
    display: none;
    width: 2em;
    height: 2em;
    background: red;
    position: absolute;
    line-height: 2em;
    text-align: center;
    top: 0;
    left: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}
#closemenu i{
    font-style: normal;

}
.content{
    height: auto;
}
.scroller{
    height: auto;
    overflow: hidden;
    padding: 0;
}

/* Grid */
.span8, .span4, .span5, .span7, .span6 {
    width: 100%;
    margin: 1em 0;
}

.image-grid > li {
    width: 98%;
    height: auto;
}
.image-grid > li > a img{
    width: 100%;
}
.image-grid > li > a:hover > span{
    display: none;
}
.image-grid h4 {
    font-size: 1.5em;
    margin: 1em;
}

.portfolio-links li a{
    padding: 10px;
    margin-bottom: 1em;
    line-height: 1.4em;
}
.testimonial{
    height: auto;
}
.testimonials-slider article {
    height: auto;
}
.ui-tabs .ui-tabs-nav li a{
    padding: .3em;
}
.comment-form input, .contact-form input, .comment-form textarea, .contact-form textarea {
    width: 93%;
} 
  }


/* ---------------------------------------------------------------------- */
/*  Mobile Version 600px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 600px) {
  
/*Home Page*/
#header h1 {
  font-size: 1.5em;
  margin-top: 1.3em;
  text-align: center;
}
#header h2 {
  font-size: 1em;
  text-align: center;
}
.text-container p {
  font-size: .8em;
}
#openmenu {
  top: 0;
  right: 0%;
  font-size: 1.6em;
}
#closemenu {
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  top: 0em;
  left: 0em;
  font-size: 1.3em;
}
.menu-opened {
  margin-left: 9em;
}
#navigation.open {
  width: 9em;
}
#navigation > nav > div a span {
  font-size: .9em;
}
#navigation > nav > div {
  width: 100%;
  height: 3.7em;
}
#navigation > nav > div a {
    height: 3.6em;
    }
#navigation > nav > div a i {
  font-size: 1.3em;
}
.slider .captions {
  bottom: 40px;
  left: 4px;
  right: 4px;
}
.bx-wrapper .bx-controls-direction a {
  top: 50%;
}
.slider .captions h2 {
  font-size: 24px;
  padding: 0 8px;
  line-height: 30px;
  float: left;
  margin-bottom: 5px;
}
.slider .captions p {
  font-size: 12px;
  line-height: 18px;
  max-width: 490px;
  padding: 7px;
  margin: 0;
}
/*Inner Page*/
h3, .post-title  {
  font-size: 21px;
}
h3 small {
  font-size: 17px;
}
.portfolio-links li a { 
  font-size: 0.9em;
  margin-bottom: 0.4em;
  line-height: 0.4em;
} 
.image-grid > li {
  width: 45%;
}
.image-grid > li > a > span {
  margin: 3%;
  width: 45%;
  height: 156px;
}
.image-grid h4 {
  font-size: 0.9em;
  margin: 0.1em;
}
.ui-tabs .ui-tabs-nav li a {
  font-size: 1em;
} 
  
}
  

/* ---------------------------------------------------------------------- */
/*  Mobile Version 568px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 568px) {
  
/*Home Page*/
#header h1 {
  font-size: 1.4em;
  margin-top: 1.2em;
  text-align: center;
}
#header h2 {
  font-size: 1em;
  text-align: center;
}
.text-container p {
  font-size: .7em;
}
#openmenu {
  top: 0;
  right: 0%;
  font-size: 1.5em;
}
#closemenu {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  top: 0em;
  left: 0em;
  font-size: 1.2em;
}
.menu-opened {
  margin-left: 8em;
}
#navigation.open {
  width: 8em;
}
#navigation > nav > div a span {
  font-size: .8em;
}
#navigation > nav > div {
  width: 100%;
  height: 3.7em;
}
#navigation > nav > div a {
    height: 3.6em;
    }
#navigation > nav > div a i {
  font-size: 1.3em;
}
.slider .captions {
  bottom: 40px;
  left: 4px;
  right: 4px;
}
.bx-wrapper .bx-controls-direction a {
  top: 50%;
}
.slider .captions h2 {
  font-size: 24px;
  padding: 0 8px;
  line-height: 30px;
  float: left;
  margin-bottom: 5px;
}
.slider .captions p {
  font-size: 12px;
  line-height: 18px;
  max-width: 490px;
  padding: 7px;
  margin: 0;
}
/*Inner Page*/
h3, .post-title  {
  font-size: 20px;
}
h3 small {
  font-size: 16px;
}
.portfolio-links li a { 
  font-size: 0.9em;
  margin-bottom: 0.4em;
  line-height: 0.4em;
} 
.image-grid > li {
  width: 45%;
}
.image-grid > li > a > span {
  margin: 3%;
  width: 45%;
  height: 156px;
}
.image-grid h4 {
  font-size: 0.9em;
  margin: 0.1em;
}
.ui-tabs .ui-tabs-nav li a {
  font-size: 1em;
}
  
}


/* ---------------------------------------------------------------------- */
/*  Mobile Version 480px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 480px) {

/*Home Page*/
#header h1 {
  font-size: 1.7em;
  margin-top: 1.3em;
  text-align: center;
}
#header h2 {
  font-size: 1em;
  text-align: center;
}
.text-container p {
  font-size: .7em;
}
#openmenu {
  top: 0;
  right: 0%;
  font-size: 1.4em;
}
#closemenu {
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4em;
  top: 0em;
  left: 0em;
  font-size: 1.1em;
}
.menu-opened {
  margin-left: 7em;
}
#navigation.open {
  width: 7em;
}
#navigation > nav > div a span {
  font-size: .7em;
}
#navigation > nav > div {
  width: 100%;
  height: 4.5em;
}
#navigation > nav > div a {
    height: 4.45em;
    }
#navigation > nav > div a i {
  font-size: 1.6em;
}
.slider .captions {
  bottom: 40px;
  left: 4px;
  right: 4px;
}
.bx-wrapper .bx-controls-direction a {
  top: 50%;
}
.slider .captions h2 {
  font-size: 24px;
  padding: 0 8px;
  line-height: 30px;
  float: left;
  margin-bottom: 5px;
}
.slider .captions p {
  font-size: 12px;
  line-height: 18px;
  max-width: 490px;
  padding: 7px;
  margin: 0;
}
/*Inner Page*/
h3, .post-title  {
  font-size: 19px;
}
h3 small {
  font-size: 15px;
}
.portfolio-links li a { 
  font-size: 0.9em;
  margin-bottom: 0.4em;
  line-height: 0.4em;
} 
.image-grid > li {
  width: 45%;
}
.image-grid > li > a > span {
  margin: 3%;
  width: 45%;
  height: 156px;
}
.image-grid h4 {
  font-size: 0.9em;
  margin: 0.1em;
}
.ui-tabs .ui-tabs-nav li a {
  font-size: 0.8em;
}
  
  
}


/* ---------------------------------------------------------------------- */
/*  Mobile Version 320px
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 320px) { 

/*Home Page*/
#header h1 {
  font-size: 1.2em;
  margin-top: 1em;
  text-align: center;
}
#header h2 {
  font-size: 1em;
  text-align: center;
}
.text-container p {
  font-size: 0.5em;
}
#openmenu {
  top: 0;
  right: 0%;
  font-size: 1.3em;
}
#closemenu {
  width: 1.3em;
  height: 1.3em;
  line-height: 1.3em;
  top: 0em;
  left: 0em;
  font-size: 1em;
}
.menu-opened {
  margin-left: 6em;
}
#navigation.open {
  width: 6em;
}
#navigation > nav > div a span {
  font-size: .6em;
}
#navigation > nav > div {
  width: 100%;
  height: 3.7em;
}
#navigation > nav > div a {
    height: 3.6em;
    }
#navigation > nav > div a i {
  font-size: 1.3em;
}
.slider .captions {
  bottom: 40px;
  left: 4px;
  right: 4px;
}
.bx-wrapper .bx-controls-direction a {
  top: 88%;
}
.slider .captions h2 {
  font-size: 24px;
  padding: 0 8px;
  line-height: 30px;
  float: left;
  margin-bottom: 5px;
}
.slider .captions p {
  font-size: 12px;
  line-height: 18px;
  max-width: 490px;
  padding: 7px;
  margin: 0;
}
/*Inner Page*/
h3, .post-title  {
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
.portfolio-links li a { 
  font-size: 0.9em;
  margin-bottom: 0.4em;
  line-height: 0.4em;
} 
.image-grid > li {
  width: 45%;
}
.image-grid > li > a > span {
  margin: 3%;
  width: 45%;
  height: 156px;
}
.image-grid h4 {
  font-size: 0.9em;
  margin: 0.1em;
}
.ui-tabs .ui-tabs-nav li a {
  font-size: 0.8em;
}

}





/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

