<header id="header">
  <h1><a href="#">Josh Teng</a></h1>
  <h2><a href="#">Developer</a></h2>

  <a href="#" id="openmenu"><i class="icon-list"></i></a>
  <a href="#" id="closemenu"><i>X</i></a>

  <div class="contact-box">
    <a href="#" id="box-info">
      <div class="icon-container"><i class="icon-info"></i></div>
      <div class="text-container"><p>Tel. 1515-511-65985 <br>mail@company.com</p></div>
    </a>
    <a href="#" id="box-download">
      <div class="icon-container"><i class="icon-download"></i></div>
      <div class="text-container"><p>Download <br>PDF Resume</p></div>
    </a>
  </div>
</header>  <!-- #header -->
